/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

.a {
  outline: 1px solid;
  outline-offset: -1px;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  margin: 0;
  color: #333;
  line-height: 1.5;
  height: 200vh;
}

/* header *******************************************/
.header {
  height: 50px;
  border-bottom: 1px solid rgb(200, 200, 200);
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  justify-content: center;
}

.nav {
  padding: 0 1rem;
  max-width: 1280px;
  width: 100%;
  display: flex;
}

.logo {
  width: 160px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.5rem;
}

.mega-menu {
  height: 100%;
  display: flex;
}

.mega-menu-btn {
  background: white;
  border: none;
  cursor: pointer;
  padding: 0 0.5rem;
  padding-top: 6px;
  border-bottom: 3px solid transparent;
}

.mega-menu-btn:hover {
  border-bottom: 3px solid red;
}

.mega-menu-btn > a {
  text-decoration: none;
  color: #333;
}

.btn-group {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.ads {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
  height: 100%;
}

.ads > button {
  margin-right: 1rem;
  background: transparent;
  border: 1px solid rgb(153, 153, 153);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.35rem 0.55rem;
}

.ads > button:hover {
  background: rgb(233, 233, 233);
}

.registeration {
  height: 100%;
  display: flex;
}

.sign-up {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  color: white !important;
  background: rgb(217, 34, 40);
}

.sign-up:hover {
  background: rgb(194, 31, 36);
}

/* main *************************************************/
.banner {
  height: 450px;
  background-image: url(/resources/img/homepage.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.search-box {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-box > h1 {
  font-size: 56px;
  margin: 0;
}

.search-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-box > h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 2rem;
}

.search-selects {
  margin-bottom: 2rem;
}

.search-selects > .mega-menu-btn {
  background: transparent;
  padding: 0.5rem;
}

.search-selects a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.search-box input {
  width: 35rem;
  padding: 1rem;
  border-radius: 9999px;
  border: 0;
  font-size: 20px;
}

.search-container {
  position: relative;
}

.search-btn {
  position: absolute;
  right: 0.3rem;
  top: 0.25rem;
  border: 0;
  background-color: rgb(204, 2, 2);
  border-radius: 99999px;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  cursor: pointer;
}

.search-btn:hover {
  background-color: rgb(163, 19, 19);
}

/* section1 **************************************************/

.new-listings > h2 {
  margin-left: 2rem;
  margin-top: 7rem;
  margin-bottom: 0.2rem;
  font-size: 24px;
  font-weight: 600;
}

.new-listings-link {
  text-decoration: none;
  margin-left: 2rem;
  margin-top: 0.8rem;
  font-size: 16px;
  color: rgb(62, 144, 250);
}

/* .row {
  display: flex;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.column {
  flex: 1;
  border: 1px solid rgb(250, 247, 247);
  box-shadow: 0 0 0.5rem rgb(0, 0, 0, 0.1);
  margin-left: 0.43rem;
  margin-right: 0.43rem;
  cursor: pointer;
} */

/* .column > img {
  width: 100%;
  height: 65%;
  object-position: center;
  object-fit: cover;
} */

.new-listings-cards > h2 {
  margin: 0%;
  margin-left: 5px;
}

.new-listings-cards > p {
  margin: 0%;
  margin-left: 5px;
}

/* section2************************************************** */
.recommended > h2 {
  margin-left: 2rem;
  margin-top: 4rem;
  margin-bottom: 0.2rem;
  font-size: 24px;
  font-weight: 600;
}

.recommended > h4 {
  margin-left: 2rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  color: rgb(119, 117, 117);
}

.row {
  display: flex;
  padding: 1.5rem;
}

.column {
  width: calc(100% / 4);
  border: 1px solid rgb(250, 247, 247);
  box-shadow: 0 0 0.5rem rgb(0, 0, 0, 0.1);
  margin: 0 0.5rem;
  cursor: pointer;
}

.column > img {
  width: 100%;
  height: 65%;
  object-position: center;
  object-fit: cover;
}

.recom-list > h2 {
  margin: 0%;
  margin-left: 5px;
}

.recom-list > p {
  margin: 0%;
  margin-left: 5px;
}

/* section3***************************************** */
.row3 {
  display: flex;
  margin-left: 8rem;
  margin-right: 8rem;
}

.statistics > h2 {
  margin-left: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  font-size: 24px;
  font-weight: 600;
}

.column3 {
  flex: 1;
  text-align: center;
}

.number {
  text-decoration: none;
  cursor: pointer;
  color: rgb(10, 129, 240);
  font-weight: 400;
  font-size: 32px;
}

.column3 > p {
  font-size: 16px;
  color: rgb(95, 94, 94);
  margin-top: 0;
}

/* section 4 ********************************************** */
.banner2 {
  height: 450px;
  background-image: url(/resources/img/trends.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  position: relative;
}

.banner2::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
}

.search-box > p {
  font-size: 20px;
  z-index: 1;
}

.search-box > h4 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  z-index: 1;
}

.read-more-btn {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 99999px;
  width: 8rem;
  height: 2.75rem;
  cursor: pointer;
  z-index: 1;
  color: white;
}

/* section 5 ******************************************8 */
.news {
  padding-top: 3.5rem;
}

/* .column > img {
  width: 100%;
  height: 75%;
  object-position: center;
  object-fit: cover;
} */

/* section 6 ******************************************* */
.row-get {
  display: flex;
  padding: 0;
  padding-top: 3.5rem;
}

.column-get {
  display: flex;
  width: calc(100% / 2);
  align-items: center;
  justify-content: center;
}
 
.column-get > img {
  width: 100%;
  height: 100%;
}

.get-btn {
  border: 0;
  background-color: red;
  border-radius: 99999px;
  width: 12rem;
  font-size: 16px;
  font-weight: 500;
  height: 2.75rem;
  cursor: pointer;
  color: white;
}

.get-input > h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.get-input > p {
  font-size: 20px;
  margin-top: 0;
}

/* section 7 ***************************************** */
.row-get-info {
  display: flex;
  padding: 0;
  padding-top: 0;
}
